<!DOCTYPE html>
<html ng-app="papertrail">
  <head>
    <meta charset="UTF-8">
    <title>PaperTrail</title>
    <link rel="stylesheet" href="./vendors/foundation/css/normalize.css">
    <link rel="stylesheet" href="./vendors/foundation/css/foundation.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div id="form-container" ng-controller="SearchController">
      <div class="row">
        <h1>PaperTrail</h1>
        <p id="title-desc">A graph search for research papers.</p>
      </div>
      <form ng-model="searchForm">
        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse">
              <div class="small-10 columns">
                <input type="text" placeholder="Search query" ng-model="searchForm.query">
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix" ng-click="query()">Go</a>
              </div>
            </div>
          </div>
        </div>
        <div id="additional-inputs">
          <div class="row">
            <div class="small-6 columns">
              <label>Document Limit:
                <input id="document-limit" type="text" value="{{ searchForm.limit }}" ng-model="searchForm.limit"/>
              </label>
            </div>
            <div class="small-6 columns">
              <label>Classifier:
                <select ng-model="searchForm.classifier" ng-init="searchForm.classifier='text'">
                  <option value="text">Text</option>
                  <option value="bm_25">BM25</option>
                  <option value="lmd">LMD</option>
                </select>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>

    <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
    <script src="./vendors/jquery/dist/jquery.min.js"></script>
    <script src="./vendors/foundation/js/foundation.min.js"></script>
    <script src="./vendors/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="./vendors/angular/angular.min.js"></script>
    <script src="./vendors/angular-route/angular-route.min.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/router.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="./js/dice_coefficient.js"></script>
    <script src="./js/graph.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
